.category-container {
    position: relative;
    
  }
  
  .category-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .category-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 4px;
    display: none; /* Initially hidden */
  }
  
  .category-list li {
    list-style: none;
    margin: 4px 0;
  }
  
  .category-container:hover .category-list {
    display: block; /* Show list on hover */
  }
  @media screen and (max-width: 768px) {
    .category-container{
      display: none;
    }
  }