.book-us-now{
    color: red;
    padding-right: 200px;
    
}
.nav-bar{
    display: flex;
}
.category-container{
    padding-top: 2%;
}

.nav-bar2{
    display: flex;
}

.nav-bar2 h4{
    padding-right: 30px;
}
.location-icon {
    margin-right: 5px; /* Add space between icon and location text */
  }
  .lc{
    display: none;
  }
  
  
  
  .location-direction {
    margin-left: 5px; /* Add space between ">" symbol and other content */
    margin-right: 200px;
  }
  .sign-in{
    margin-top: 2%;
    padding: 0;
    height: 40px;
    width: 80px;
    margin-left: 2%;
  }
  .favorites{
    margin-top: 3%;
    margin-left: 4%;
    width: 150px;
  }
  .love-icon{
    padding-right: 4%;
  }
  .icons{
    display: none;
  }
  .lc2{
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .nav-bar{
      border: 1px dashed white;
      
      width: 100%;
    }
    
    .favorites{
      display: none;
    }
    .sign-in{
      display: none;
    }
    .nav-bar2{
      overflow-x: auto;
    }
    .nav-bar2::-webkit-scrollbar{
      width:0;
  }
    .nav-bar2 h4{
      padding-right: 50px;
    }
    .lc2{
      display: inline-flex;
      position: absolute;
      top: 6%;
      left: 1%;
      width: 150px;
    }
    .lc1{
      display: none;
    }
    .icons{
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 15%;
      top: 2%;
      

    }
    .item{
      padding-left: 40%;
    }
  }